DISCORD_TOKEN=""
DISCORD_CLIENT_ID=""
DISCORD_PREMIUM_ROLE_ID=""
DISCORD_GUILD_ID=""
STEAM_API_KEY=""
BATTLEMETRICS_TOKEN=""
HLL_SERVER_ID=""
ARMA_SERVER_ID=""
BM_ORGANIZATION_ID=""
DATABASE_URL="postgresql://postgres:password@host:port/railway"
BASE_URL="https://your-railway-app.up.railway.app"
PORT="3000"
SESSION_SECRET=""
GOOGLE_API_KEY=""
GOOGLE_CALENDAR_ID="88c63350004c5f8e5bad1150e74aeb7a36a7f743fe3d24c97fcbef755722861c@group.calendar.google.com"
